<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Blog </title>
   
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

    </style>
</head>

<body>
    <div class = "row mt-3">
        <div class='col-md-4'></div>
        <div class='col-md-4 text-center h3'>{{>header}}</div>
        <div class='col-md-4'></div>

    </div>
    <div class="container-fluid p-3">
        <div class="container col-8">
            {{{body}}}
        </div>
    </div>

    <script src='/js/jquery.min.js'></script>
    <script src='/js/bootstrap.bundle.js'></script>
    <script src='/js/bootstrap.min.js'></script>
</body>

</html>