<div class='row'>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"><a href="/logout">Logout</a></div>
</div>
<div class='row align-items-center dashboard-cards '>
    <div class="col-md-4"></div>

    <div class="col-md-2 text-center">
        <div class='mb-3'>
            <i class="fas fa-pencil-alt fa-3x"></i>
        </div>
        <a class="btn btn-light" href="/post">New Post</a>
    </div>
    <div class="col-md-2 text-center">
        <div class='mb-3' >
           <i class="fab fa-leanpub fa-3x"></i>
        </div>
        <a class="btn btn-light" href="/admin-post-list">List Posts</a>
    </div>
    <div class="col-md-4"></div>
</div>